* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@for $index from 1 through 6 {
    h#{$index}{
        font-family: 'Cutive Mono', monospace;
    }
}
@media only screen and (max-width: 600px) {
    p {
        font-size: 0.5em;
    }
    @for $index from 1 through 6 {
        h#{$index}{
            font-size: 1em;
        }
    }
    .face{
        width: 30%;
    }
}

p{
    font-family: 'Montserrat', sans-serif;
}

.scroll-downs {
    position: absolute;
    right: 20px;
    bottom: 20px;
    margin: auto;
    position:absolute;
    width :34px;
    height: 55px;
}
.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

.navbar {
    background-color: transparent; 
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    text-align: center;
    z-index: 10;
    a {
        font-family: 'Cutive Mono', monospace;
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 15px;
        text-decoration: none;
    }
    .logo{
        height: 50px;
        padding: 0px;
    }
}

section {
    width: 100%;
    height: 100vh;
}

.home {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(assets/bg.png);
    position: relative;
    .desk{
        z-index: 3;
        margin-bottom: 1%;
        height: 10%;
        position: absolute;
        display: block;
        left: 50%;
        transform: translate(-50%, 0%);
        bottom: 0%;
    }
    .logo{
        z-index: 3;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 40%;
    }
    .stars{
        width: 100%;
        height: 100%;
        z-index: 0;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-image:
        radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
        radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
        radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
        radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
        background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
        background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    }
}

.who {
    background-color: white;
    background-image: url(assets/balloon.svg);
    background-size: 20%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:right bottom;
    height: 100%;
    h3{
        font-size: 3em;
    }
    .container{
        height: 100%;
    }
    img{
       width: 80%;
    }
    .row{
        height: 100%;
        display: -webkit-flex; /* Safari */
        -webkit-align-items: flex-start; /* Safari 7.0+ */
        display: flex;
        align-items: flex-start;
    }
    .info{
        align-self: center;
    }
    .image{
        align-self: center;
        text-align: center;
    }
    @media only screen and (max-width: 600px){
        img{
            width: 40%;
        }
        .image{
            align-self: flex-end;
        }
        background-size: 40%;
    }
}

.work {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .pic{
        text-align: center;
    }
    .carousel-indicators li{
        background-color: #212121;
    }
    .carousel-indicators .active{
        background-color: #727272;
    }
    .container{
        height: 100%;
    }
    .row{
        height: 100%;
        display: -webkit-flex; /* Safari */
        -webkit-align-items: flex-start; /* Safari 7.0+ */
        display: flex;
        align-items: flex-start;
    }
    div{
        align-self: center;
    }
    h1{
        font-size: 3em;
        text-decoration: none;
        font-weight: bold;
    }
    .main{
        h1{
            color: white;
            font-size: 5em;
            text-decoration: underline;
        }
        p{
            color: white;
            font-family: 'Montserrat', sans-serif;
        }
    }
    
    .tele{
        position: absolute;
        right: 20px;
        bottom: 20px;
        margin: auto;
        height: 20%;
    }
    .first{
        position: relative;
    }
    .vertical{
        img{
            width: 80%;
        }
    }
    .psico{
        h1{
            color: #0AD0FC;
        }
        p{
            color: #212121;
        }
        a{
            color: #0AD0FC;
        }
    }
    .litivo{
        h1{
            color: white;
        }
        p{
            color: #212121;
        }
        a{
            color: white;
        }
    }
    .techo{
        h1{
            color: #0092dd;
            
        }
        p{
            color: #212121;
        }
    }
    .ieee{
        h1{
            color:white;
        }
        p{
            color: white;
        }
        a{
            color: #212121;
        }
    }
    .uni5{
        h1{
            color: #0626EA;
        }
        p{
            color: #212121;
        }
    }
    @media only screen and (max-width: 600px) {
        div{
            align-self: flex-end;
        }
        h1{
            font-size: 2em;
        }
        p{
            font-size: 0.7em;
        }
        .title{
            align-self: flex-start;
        }
        .info{
            align-self: flex-start;
        }
        .pic{
            align-self: flex-end;
        }
        .vertical{
            img{
                margin-top: 60px;
                height: auto;
                width: 50%;
            }
        }
        img{
            margin-top: 60px;
            height: auto;
            width: 50%;
        }
    }
}

.contact{
    height: 100%;
    .container-fluid{
        height: 100%;
        display: -webkit-flex; /* Safari */
        -webkit-align-items: flex-start; /* Safari 7.0+ */
        display: flex;
        align-items: flex-start;
        padding: 0% 10%;
    }
    .wrapme{
        width: 100%;
        text-align: center;
    }
    .icon{
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        margin: 10px 0px;
        color: #212529;
    }
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

$carousel-control-color: #7b277d;

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%666666' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%666666' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}