* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: 'Cutive Mono', monospace;
}

h2 {
  font-family: 'Cutive Mono', monospace;
}

h3 {
  font-family: 'Cutive Mono', monospace;
}

h4 {
  font-family: 'Cutive Mono', monospace;
}

h5 {
  font-family: 'Cutive Mono', monospace;
}

h6 {
  font-family: 'Cutive Mono', monospace;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 0.5em;
  }
  h1 {
    font-size: 1em;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 1em;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 1em;
  }
  .face {
    width: 30%;
  }
}

p {
  font-family: 'Montserrat', sans-serif;
}

.scroll-downs {
  position: absolute;
  right: 20px;
  bottom: 20px;
  margin: auto;
  position: absolute;
  width: 34px;
  height: 55px;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
          animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
}

.navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  text-align: center;
  z-index: 10;
}

.navbar a {
  font-family: 'Cutive Mono', monospace;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.navbar .logo {
  height: 50px;
  padding: 0px;
}

section {
  width: 100%;
  height: 100vh;
}

.home {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(assets/bg.png);
  position: relative;
}

.home .desk {
  z-index: 3;
  margin-bottom: 1%;
  height: 10%;
  position: absolute;
  display: block;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  bottom: 0%;
}

.home .logo {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 40%;
}

.home .stars {
  width: 100%;
  height: 100%;
  z-index: 0;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px), radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px), radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.who {
  background-color: white;
  background-image: url(assets/balloon.svg);
  background-size: 20%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  height: 100%;
}

.who h3 {
  font-size: 3em;
}

.who .container {
  height: 100%;
}

.who img {
  width: 80%;
}

.who .row {
  height: 100%;
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: flex-start;
  /* Safari 7.0+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.who .info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.who .image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .who {
    background-size: 40%;
  }
  .who img {
    width: 40%;
  }
  .who .image {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.work {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.work .pic {
  text-align: center;
}

.work .carousel-indicators li {
  background-color: #212121;
}

.work .carousel-indicators .active {
  background-color: #727272;
}

.work .container {
  height: 100%;
}

.work .row {
  height: 100%;
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: flex-start;
  /* Safari 7.0+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.work div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.work h1 {
  font-size: 3em;
  text-decoration: none;
  font-weight: bold;
}

.work .main h1 {
  color: white;
  font-size: 5em;
  text-decoration: underline;
}

.work .main p {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.work .tele {
  position: absolute;
  right: 20px;
  bottom: 20px;
  margin: auto;
  height: 20%;
}

.work .first {
  position: relative;
}

.work .vertical img {
  width: 80%;
}

.work .psico h1 {
  color: #0AD0FC;
}

.work .psico p {
  color: #212121;
}

.work .litivo h1 {
  color: white;
}

.work .litivo p {
  color: #212121;
}

.work .litivo a {
  color: white;
}

.work .techo h1 {
  color: #0092dd;
}

.work .techo p {
  color: #212121;
}

.work .ieee h1 {
  color: white;
}

.work .ieee p {
  color: white;
}

.work .ieee a {
  color: #212121;
}

.work .uni5 h1 {
  color: #0626EA;
}

.work .uni5 p {
  color: #212121;
}

@media only screen and (max-width: 600px) {
  .work div {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .work h1 {
    font-size: 2em;
  }
  .work p {
    font-size: 0.7em;
  }
  .work .title {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .work .info {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .work .pic {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .work .vertical img {
    margin-top: 60px;
    height: auto;
    width: 50%;
  }
  .work img {
    margin-top: 60px;
    height: auto;
    width: 50%;
  }
}

.contact {
  height: 100%;
}

.contact .container-fluid {
  height: 100%;
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: flex-start;
  /* Safari 7.0+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0% 10%;
}

.contact .wrapme {
  width: 100%;
  text-align: center;
}

.contact .icon {
  font-size: 1em;
  margin: 10px 0px;
  color: #212529;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%666666' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%666666' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
/*# sourceMappingURL=main.css.map */